.homebg{
    background-image: url("../img/downtown3.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;

}

.nav-shadow{
    color: rgb(53, 53, 53);
    font-size: 1.1em;
    text-shadow: 0 0 10px #f2b7e8;
    font-family: 'Rampart One', cursive; 
    /* text-shadow: 0 0 3px #ffffff; */
}

.nav-space{
    padding-left: 2%;
    padding-right: 2%;
    border-left: 1px solid rgb(75, 75, 75);
}

.main-title{
  position: absolute;
  top: 35%;
  width: 100%;
  /* right: 25%;
  width: 50%;
  height: auto;
*/
   color: white;
   text-align: center;
   text-shadow: 0 0 25px #bb119f;
   font-family: 'Rampart One', cursive; 
}

.main-name{
    font-size: 4em;
}